<div class="mapContainer">
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script>
$(function(){
  handler = Gmaps.build('Google');
  handler.buildMap({ provider: {zoom: 15}, internal: {id: 'map'}}, function(){
    <% if @gmaps_markers %>
    var markers = handler.addMarkers(<%=raw @gmaps_markers.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
    handler.getMap().setZoom(10);
    <% elsif @gmaps_polygon %>
    var polygons = handler.addPolygons(
      <%=raw @gmaps_polygon %>
    ,{ strokeColor: '#FF0000'});
    handler.bounds.extendWith(polygons);
    handler.fitMapToBounds();
    <% end %>
  });
});
</script>

